<style>
	body{
		background-color: #e3e0c3;
	}
</style>

<div class="container" style="height: 500px; width: 90%;text-align: center;">

	<p><h1 style="text-align: center;">NUESTROS LOCALES</h1><span style="cursor: pointer; font-weight: bold;" ng-click="Volver()"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>&nbsp;VOLVER&nbsp;&nbsp;</span></p>
	

	<div style="width:80%; margin:0 auto;">
	<div ng-repeat="(key, value) in locales.locales" style="float: left; border: 1px solid black; margin: 10px; width:30%; border-radius: 5px;text-align: center;background-color: #FFF;">
		<img src="http://localhost/TPlaboratorioIV2016/ws/img/{{value.foto1}}" alt="" style="width: 100%;">
		<span style="font-weight: bold;">{{value.direccion}}</span>
		<button ng-click="MostrarTrayecto(value)" class="btn btn-block btn-primary">VER</button>
	</div>
	</div>

	<div id="map" style="width: 95%; height: 320px; margin: 0 auto;border: 1px solid grey; margin: 10px;">ACA VA EL MAPA</div>
</div>


