<div style="margin: 10px;margin:auto; display:block; width: 60%;">
	</br></br>
	<a class="btn btn-success btn-block" ui-sref="main.altaUsuario" >ALTA USUARIO</a>
	<a class="btn btn-success btn-block" ui-sref="main.altaProducto">ALTA PRODUCTO</a>
	<a class="btn btn-success btn-block" ui-sref="main.altaOferta">ALTA OFERTA</a>
	<a class="btn btn-success btn-block" ui-sref="main.altaPedido">ALTA PEDIDO</a>
	<a class="btn btn-success btn-block" ui-sref="main.altaLocal" ng-if="usuario.perfil == 'Administrador'">ALTA LOCAL</a>
	<hr style="border-top: 1px dashed grey; margin: 5px;" ng-if="usuario.perfil != 'Empleado'">
	<a class="btn btn-primary btn-block" ui-sref="main.grillaPedidos" ng-if="usuario.perfil != 'Empleado'">VER PEDIDOS</a>
	<a class="btn btn-primary btn-block" ui-sref="main.grillaUsuarios" ng-if="usuario.perfil == 'Administrador'">VER USUARIOS</a>
	<a class="btn btn-primary btn-block" ui-sref="main.grillaUsuarios({encargado: true})" ng-if="usuario.perfil != 'Empleado'">VER EMPLEADOS</a>
	<a class="btn btn-primary btn-block" ui-sref="main.grillaLocales" ng-if="usuario.perfil != 'Empleado'">VER LOCALES</a>
	<hr style="border-top: 1px dashed grey; margin: 5px;" ng-if="usuario.perfil == 'Administrador'">
	<a class="btn btn-info btn-block" ui-sref="main.estadisticas" ng-if="usuario.perfil == 'Administrador'">ESTADISTICAS</a>
	</br>
	</br>
	<button class="btn btn-danger btn-block" ng-click="Logout()">SALIR</button>	
</div>