<div style="margin: 10px;margin:auto; display:block; width: 60%;">
	</br></br>
	<a class="btn btn-success btn-block" ui-sref="main.altaUsuario" ng-if="usuario.perfil == 'Administrador'">ALTA USUARIO</a>
	<a class="btn btn-success btn-block" ui-sref="main.altaProducto">ALTA PRODUCTO</a>
	<a class="btn btn-success btn-block" ui-sref="main.altaOferta">ALTA OFERTA</a>
	<a class="btn btn-success btn-block" ui-sref="main.altaPedido">ALTA PEDIDO</a>
	<a class="btn btn-success btn-block" ui-sref="main.usuarios" ng-if="usuario.perfil == 'Encargado'">ALTA EMPLEADO</a>
	<a class="btn btn-success btn-block" ui-sref="main.altaLocal" ng-if="usuario.perfil == 'Administrador'">ALTA LOCAL</a>
	<a class="btn btn-primary btn-block" ui-sref="main.productos">VER PEDIDOS</a>
	<a class="btn btn-primary btn-block" ui-sref="main.grillaUsuarios">VER CLIENTES</a>
	<a class="btn btn-primary btn-block" ui-sref="main.grillaLocales">VER LOCALES</a>
	<a class="btn btn-primary btn-block" ui-sref="main.usuarios" ng-if="usuario.perfil == 'Administrador'">VER ESTADISTICAS</a>
	</br>

	<button class="btn btn-danger btn-block" ng-click="Logout()">SALIR</button>	
</div>